streamlit==1.32.2

# Core
llama-index==0.10.1
llama-index-core==0.10.1

# LLMs
llama-index-llms-groq==0.1.4
llama-index-llms-openai-like==0.1.4

# Readers
llama-index-readers-file==0.1.4

# Vector store
llama-index-vector-stores-qdrant==0.1.4

# Infra
qdrant-client==1.7.3
nltk==3.8.1
